{% load i18n %}

{% block subject %}
{% blocktrans %}Schimbarea parolei pe site-l: {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}Ati primit acest mesaj deoarece ati cerut schimbarea parolei pentru contul dumneavoastra de pe {{ site_name }}.{% endblocktrans %}

{% trans "Apasati linkul pentru a va schima parola:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "Va multumim ca ati vizitat site-l nostru!" %}

{% blocktrans %}Echipa {{ site_name }} {% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}Ati primit acest mesaj deoarece ati cerut schimbarea parolei pentru contul dumneavoastra de pe {{ site_name }}.{% endblocktrans %}</p>

<p>{% trans "Apasati linkul pentru a va schima parola:" %}</p>
<a href="{{ protocol }}://{{ domain }}/{{ url|safe }}">{{ protocol }}://{{ domain }}/{{ url|safe }}</a>

<p>{% trans "Va multumim ca ati ales site-l nostru!" %}</p>

<p>{% blocktrans %}Echipa {{ site_name }} {% endblocktrans %}</p>
{% endblock html_body %}