{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Parola dumneavoastra a fost schimbata cu succes!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Parola dumneavoastra a fost schimbata!" %}

{% trans "Va multumim ca ati vizitat site-l nostru!" %}

{% blocktrans %}Echipa {{ site_name }} {% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% trans "Parola dumneavoastra a fost schimbata!" %}</p>

<p>{% trans "Va multumim ca ati vizitat site-l nostru!" %}</p>

<p>{% blocktrans %}Echipa {{ site_name }} {% endblocktrans %}</p>
{% endblock html_body %}